<div *ngIf="participants" class="tab-content tab-space tab-subcategories">
  <div class="tab-pane active" id="link1">

    <div class="row">
      <div *ngFor="let participant of participants" class="col-md-4 ml-auto mr-auto">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#pablo">
              <img class="img" src="./assets/img/faces/marc.jpg" />
            </a>
          </div>
          <div class="card-body">

            <h6 class="card-category text-gray">{{participant.phone}}</h6>
            <h4 class="card-title">{{participant.firstName}} {{participant.lastName}} </h4>
            <p class="card-description">
              {{participant.description}}
            </p>
            <a href="#pablo" class="btn btn-rose btn-round">Voir l'addresse</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
  </div>
</div>


<!-- <div class="card card-product">
      <div class="card-header card-header-image" >
        <a href="#pablo">
          <img class="img" src="./assets/img/card-2.jpg">
        </a>
      </div>
      <div class="card-body">
        <div class="card-actions text-center">
          
          <button routerLink="/pages/{{participant.id}}" mat-raised-button type="button"
            class="btn btn-default btn-link" matTooltip="View" [matTooltipPosition]="'below'">
            <i class="material-icons">art_track</i>
          </button>
      
        </div>
        <h4 class="card-title">
          <a href="#pablo">{{participant.firstName}} {{participant.lastName}} </a>
        </h4>

        <div class="card-description">
          {{participant.description}}
        </div>
      </div>
      <div *ngIf="participant.address[0]" class="card-footer">
        <div class="stats">
          <p class="card-category"><i class="material-icons">place</i>{{participant.address[0].region}}</p>
        </div>
      </div> -->