<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div *ngIf="currentUser" class="col-md-10 mr-auto ml-auto">
        <div class="wizard-container">
          <div class="card card-wizard">
            <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
            <div class="card-header text-center">
              <h3 class="card-title">
                Vos Professions actuel
              </h3>

              <h5 class="card-description">Si vous voulez les modifier ou en ajouter rendez-vous en bas de la page.</h5>
            </div>

            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6 " *ngFor="let professionsUser of currentUser.professionUsers">
                <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon"
                    *ngFor="let professions of professionsUser.professions">
                    <div class="card-icon col-6">
                      <img class="rounded-circle p-2 col-12" src="{{professions.picture}}">
                    </div>
                    <p class="card-category">{{professions.name}}</p>
                    <h3 class="card-title">{{professionsUser.price}}€</h3>
                  </div>
                  <div class="card-footer">
                    <div class="card-footer">
                      <button (click)="deleteProfessionUser(professionsUser)" ng-reflect-message="Remove"
                        class="btn btn-danger">X</button>
                      <div class="stats">
                        <i class="material-icons">date_range</i> {{professionsUser.hour}} minutes par rendez
                        vous
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="!currentUser.professionUsers" class="card-header text-center">
              <h3 class="card-title">
                Ajoutez vos professions!
              </h3>
              <h5 class="card-description">Si vous voulez les modifier ou en ajouter rendez-vous en bas de la page.
              </h5>
            </div>
            <app-edit-competences *ngIf="professions" [professions]="professions"></app-edit-competences>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>