<div class="main-content">
  <div class="container-fluid">
    <!-- <div class="card header text-center">
      <div class="card-body">
        <br>
        <div class="row">
         
          <input type="text"
          ngxDaterangepickerMd
          [timePicker]="true"
          [timePickerSeconds]="true"
          [timePickerIncrement]="15"
          [timePicker24Hour]="true"
          [locale]="{format: 'DD/MM/YYYY HH:mm:ss', firstDay: 1}"
          [(ngModel)]="selected"/>
          
<button (click)="testConsole()"></button>
      
          <div class="col-md-4 mr-auto">
            <legend>Datepicker</legend>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" (click)="picker.open()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>


          <br>
          <div class="col-md-6">
            <legend>Customisable Select</legend>
            <div class="col-lg-5 col-md-8 col-sm-4">
              <mat-form-field>
                <mat-select multiple placeholder="Multiple Cities" [(ngModel)]="currentCity" name="Paris"
                  ariaLabel="cities[0]">
                  <mat-option *ngFor="let city of cities" [value]="city.value">
                    {{ city.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-5 col-md-8 col-sm-4">
              <mat-form-field>
                <mat-select placeholder="Single City" name="city">
                  <mat-option *ngFor="let city of cities" [value]="city.value">
                    {{ city.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="card card-calendar">
          <div class="card-body ">

            <div id="fullCalendar"></div>
            <!-- <button (click)="makeConsole()"></button> -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>