<div class="card" *ngIf="profession">

  <form (ngSubmit)="addProfession()">

    <legend class="m-1 p-1">Activer cette activité?</legend>

    <div class="col-lg-12 col-md-12 col-sm-12">
      <legend class="m-2 p-2">Ma profession</legend>
      <mat-form-field>
        <mat-select multiple [(ngModel)]="professionForm.description" name="profession">
          <mat-option *ngFor="let profession of professionConfig[0]" [value]="profession.value">
            {{ profession.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <legend class="m-2 p-2">Durée de l'acte</legend>
    <div class="col-lg-12 col-md-12 col-sm-12">

      <mat-form-field>
        <mat-select [(ngModel)]="professionForm.hour" name="hour">
          <mat-option *ngFor="let hour of hoursConfig[0]" [value]="hour.value">
            {{ hour.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <legend class="m-3 p-3">Cout de l'acte en euros</legend>

    <nouislider [connect]="true" [min]="10" [max]="200" [step]="1" [(ngModel)]="priceSlider "
      [ngModelOptions]="{standalone: true}" [tooltips]="true" class="slider"></nouislider>

    <div class=" card-footer  justify-content-center">
      <button *ngIf="professionForm.hour" class="btn-success mt-4 btn ">Valider </button>
    </div>

    <button class="btn btn-warning" (click)="consoleTest()">button</button>
  </form>
</div>