<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 mr-auto ml-auto">

        <div class="wizard-container">


          <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
          <div class="card-header text-center">
            <hr>
            <h3 class="card-title">
              Build Your Profile
            </h3>
            <h5 class="card-description">This information will let us know more about you.</h5>
          </div>

          <div class="row">

            <div *ngFor="let profession of professions" class="col-sm-4">
              <div class="choice " data-toggle="wizard-checkbox">
                <input type="checkbox" name="enseignant" value="Design">
                <div class="icon ">
                  <img class="rounded-circle p-2 col-12" src="{{profession.picture}}">
                </div>
                <h5>{{profession.name}}</h5>
                <button mat-raised-button (click)="openForm(profession.id)" class="btn btn-warning">ajouter</button>
                <app-form-competences [profession]="profession" *ngIf="profession.id == idSelected"></app-form-competences>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>