<div  class="row">
  <div class="col-md-10 ml-auto mr-auto">
    <div class="page-categories">
      <h3 class="title text-center">Page Subcategories</h3>
      <br />
      <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
     
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
            <i class="material-icons">info</i> Voir mes lessons
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " data-toggle="tab" href="#link2" role="tablist">
            <i class="material-icons">
              library_add
              </i> Voir mes anciennes <br>lessons
          </a>
        </li>
      
      </ul>
      <div class="tab-content tab-space tab-subcategories">
        <div class="tab-pane active" id="link1">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Description about product</h4>
              <p class="card-category">
                More information here
              </p>
            </div>
            <div class="card-body">
              

            </div>
            
          </div>
        </div>
        <div class="tab-pane " id="link2">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Location of the product</h4>
              <p class="card-category">
                More information here
              </p>
            </div>
            <div class="card-body">
            
            </div>
          </div>
        </div>
      </div>
      <!-- <button class="btn btn-success"(click)="consoleTest()">test</button> -->
    </div>
  </div>
</div>

  
