<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter" filter-color="black"
    style="background-image: url('./assets/img/logo/hupsLogo.png'); background-size: cover; background-position: top center;">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->

    <div class="container registerLogin">
      <div class="row">
        <app-register-cmp *ngIf="btnText === ''"></app-register-cmp>

        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <form (ngSubmit)="login()">
            <div class="card card-login card-hidden">
              <div class="card-header card-header-warning text-center">
                <h4 class="card-title">Log in</h4>
                <!--  <div class="social-line">
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </div> -->
              </div>
              <div class="card-body ">
                <!--  <p class="card-description text-center">Or Be Classical</p> -->
                <span class="bmd-form-group">
                </span>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">email</i>
                      </span>
                    </div>
                    <input type="email" class="form-control" id="email-login" name="username" [(ngModel)]="username"
                      placeholder="Email...">
                  </div>
                </span>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" class="form-control" id="password-login" name="password"
                      [(ngModel)]="password" placeholder="Password...">
                  </div>
                </span>
              </div>
              <div class="card-footer justify-content-center">
                <button href="#pablo" class="btn btn-warning btn-round mt-4">Lets Go</button>
              </div>
              <hr>
              <div class="card-footer justify-content-center">
                <a href="#register">Mot de passe oublié?</a>
              </div>
              <div class="registerBtn">
                <hr>
                <div class=" card-footer  justify-content-center">

                  <a class="btn-round mt-4 btn btn-warning" (click)="changeText()"
                    (click)="ngOnDestroy()">{{btnText}}</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>


    <app-footer></app-footer>