<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div *ngIf="traineeship" class="col-md-12">
        <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
    
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" routerLink="/traineeship/show" role="tablist">
              <i class="material-icons">info</i> retour à mes stages
            </a>
          </li>

        </ul>
        <div class="card ">
          <div class="card-header ">
            <!-- <h4 class="card-title">Navigation Pills Icons -
              <small class="description">Vertical Tabs</small>
            </h4> -->
          </div>
          <div class="card-body ">
            <div class="row">
              <div class="col-lg-2 col-md-6">
                <!--
                            color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                        -->
                <ul class="nav nav-pills nav-pills-warning nav-pills-icons flex-column" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#link0" role="tablist">
                      <i class="material-icons">dashboard</i> Résumé
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#link1" role="tablist">
                      <i class="material-icons">
                        location_on
                      </i> Ajouter une addresse
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
                      <i class="material-icons">
                        image
                      </i> Ajouter des photos
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#link3" role="tablist">
                      <i class="material-icons">
                        emoji_people
                      </i>Mes praticants inscrits
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-8">
                <div class="tab-content">
                  <div class="tab-pane active" id="link0">
                    <h2 class="text-center">Titre</h2>
                    {{traineeship[0].title}} 
                    <br>
                    <br>
                    <h2 class="text-center">Mon descriptif</h2>
                    {{traineeship[0].program}}
                    <br />
                    <br />
                    <div *ngIf="!traineeship[0].address">
                      <h2 class="text-center">Ajouter une addresse pour pouvoir publier votre stage </h2>

                    </div>
                    <div *ngIf="traineeship[0].address">
                      <h2 class="text-center">L'addresse de mon stage </h2>
                      <p>{{traineeship[0].address[0].street}}</p>
                      <p>{{traineeship[0].address[0].city}}</p>
                      <p>{{traineeship[0].address[0].region}}</p>
                      <p>{{traineeship[0].address[0].country}}</p>

                      <!-- <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                        <mdb-carousel-item *ngFor="let document of documents" >
                          <img class="d-block w-100" src="http://localhost:8000/pictures/{{document.name}}"
                            alt="First slide">
                        </mdb-carousel-item>
                      
                      </mdb-carousel> -->

                      <!--Carousel Wrapper-->
                     

                    </div>
                    <h3 class="text-center">Mes photos</h3>
                    <mdb-carousel *ngIf="documents" [isControls]="true" [animation]="'slide'">
                      
                      <mdb-carousel-item *ngFor="let document of documents">
                        <img class="d-block w-100" src="http://134.90.137.237/hups-api-rest/pictures/{{document.name}}"
                          alt="First slide">
                      </mdb-carousel-item>

                    </mdb-carousel>
                    <div class="flex-column text-center">
                      <button mat-raised-button (click)="message()" class="btn btn-danger">Publier votre
                        stage!</button>
                    </div>

                  </div>
                 


                  <div class="tab-pane" id="link1">
                    Vous pouvez ajouter ou modifier votre addresse.
                    <br>
                    <app-form-address-traineeship [traineeshipSelected]="traineeship[0]"
                      [traineeshipAddress]="traineeship[0].address[0]"></app-form-address-traineeship>
                  </div>

                  <div class="tab-pane " id="link2">
                    Venez faires clisser vos fichiers ou cliquer pour les ajouter à votre stage.
                    <br>
                    <app-dropzonejs-traineeship [traineeshipId]="traineeship[0].id"></app-dropzonejs-traineeship>
                  </div>

                  <div class="tab-pane" id="link3">
                    Regarder les personnes qui on souscrit à votre stage.
                    <br>
                    <app-show-profiles-traineeship [participants]="traineeship[0].users">
                    </app-show-profiles-traineeship>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>