
<div class="row home">

  <h2 class="accueil col-lg-12">Recherchez et réservez votre professionnel équin
    <p class="text col-lg-8">Trouver un moniteur, un ostéopathe, un dentiste, un podologue et bien d'autres
      professionnels
      parmi notre
      communauté et réservez votre prestation</p>
  </h2>
</div>


<section class="search-banner text-white py-3 form-arka-plan" id="search-banner">
  <div class="container ">
    <div class="row">
      <div class="col-md-12">
        <div class="card acik-renk-form">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group ">
                  <select id="iller" class="form-control">
                    <option selected>Moniteurs/Coach</option>
                    <option>Ostéopathe</option>
                    <option>Maréchal/Pareur/Podologue</option>
                    <option>Communication Animale</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group ">
                  <select id="ilceler" class="form-control">
                    <option selected>Région</option>
                    <option>Ile-de-France</option>
                    <option>Rhone Alpes</option>
                    <option>Occitanie</option>
                    <option>Bourgogne</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <button type="button" class="btn  pl-5 pr-5">Rechercher</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="row">
  <div class="col-md-4" *ngFor="let user of users.slice(0, 3)">

    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="true">
        <a href="#pablo">
          <img class="img" src="./assets/img/card-2.jpg">
        </a>
      </div>
      <div class="card-body">
        <div class="card-actions text-center">
          <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
            <i class="material-icons">build</i> Fix Header!
          </button>
          <button routerLink="/pages/{{user.id}}" mat-raised-button type="button" class="btn btn-default btn-link"
            matTooltip="View" [matTooltipPosition]="'below'">
            <i class="material-icons">art_track</i>
          </button>
        </div>
        <h4 class="card-title">
          <a href="#pablo">{{user.firstName}} {{user.lastName}} </a>
        </h4>

        <div class="card-description">
          {{user.description}}
        </div>
      </div>
      <div class="card-footer" *ngFor="let addressUserSelected of user.address">
        <!-- <div class="price">
        <h4>{{}}€</h4>
      </div> -->
        <div class="stats">
          <p class="card-category"><i class="material-icons">place</i>{{addressUserSelected.region}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <app-footer></app-footer>
</div>