.accueil{
    text-align: center;
    margin-top: 100px;

}

.text{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 200px;
}

.btn{
    background-color: #ff9800;
}

.rounded-circle{
    margin-left: 50px;
}