<dropzone [dropzone]="config" [message]="'Click or drag images here to upload'" ></dropzone>

<div class="row">

    <h3 class="text-center col-12">Vos documents</h3>
    <mat-card *ngFor="let document of documents" class=" m-2 col-3 mr-auto">
        <!-- <mat-card-header>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header> -->
        <img mat-card-image src="http://134.90.137.237/hups-api-rest/pictures/{{document.name}}" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                {{document.name}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="deleteOneDocument(document)" class="col-12 btn btn-danger">supprimer</button>
        </mat-card-actions>
    </mat-card>

</div>