<div *ngIf="!message" class="card-body ">
  <form (ngSubmit)="addTraineeship()" class="form-horizontal">
    <div class="row">
      <label class="col-sm-2 col-form-label">Titre</label>
      <div class="col-sm-10">
        <mat-form-field class="example-full-width">
          <input type="text" matInput [(ngModel)]="traineeship.title" name="title"
            placeholder="titre de votre formation...">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <label class="col-sm-2 col-form-label">Programme</label>
      <div class="col-sm-10">
        <mat-form-field class="example-full-width">
          <input type="text" matInput [(ngModel)]="traineeship.program" name="program"
            placeholder="detailler votre programme...">
        </mat-form-field>
      </div>
    </div>
    <hr>
    <div class="row m-2 ">
      <div class="col-md-6 mr-auto">
        <legend>Choisir la date de début</legend>
        <mat-form-field>
          <input matInput [(ngModel)]="traineeship.start" name="start" [matDatepicker]="picker" placeholder="Choose start date" (click)="picker.open()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-md-6 mr-auto">
        <legend>Choisir la date de fin</legend>
        <mat-form-field>
          <input matInput [(ngModel)]="traineeship.end" name="end" [matDatepicker]="test" placeholder="Choose Final date" (click)="test.open()">
          <mat-datepicker-toggle matSuffix [for]="test"></mat-datepicker-toggle>
          <mat-datepicker #test></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-12 text-center">
      <hr>
      <i class="material-icons">
        attach_money
      </i>
      <legend>Cout en euros par personne</legend>
      <br>
      <nouislider [connect]="true" [min]="10" [max]="250" [step]="1" [(ngModel)]="priceSlider "
        [ngModelOptions]="{standalone: true}" [tooltips]="true" class="slider"></nouislider>
    </div>
    <div class="col-md-12 text-center">
      <hr>
      <i class="material-icons">
        accessibility
      </i>
      <legend>nombre de participants</legend>
      <br>
      <nouislider [connect]="true" [min]="1" [max]="50" [step]="1" [(ngModel)]="personSlider"
        [ngModelOptions]="{standalone: true}" [tooltips]="true" class="slider"></nouislider>

    </div>


    <!-- <div class="row">
      <legend class="m-3 p-3">Cout en euros</legend>
      <nouislider [connect]="true" [min]="10" [max]="200" [step]="1" [(ngModel)]="priceSlider "
        [ngModelOptions]="{standalone: true}" [tooltips]="true" class="slider"></nouislider>

    </div> -->
    <!-- <div class="row">
      <label class="col-sm-2 col-form-label">Code postal</label>
      <div class="col-sm-10">
        <mat-form-field class="example-full-width">
          <input type="text" matInput [(ngModel)]="traineeship.zipCode" name="zipCode" placeholder="....">
        </mat-form-field>
      </div>
    </div> -->
    <hr>
    <legend class="m-2 p-2 text-center">Niveau de la formation</legend>
    <!-- <div class="col-lg-12 col-md-12 col-sm-12"> -->

    <mat-form-field>
      <mat-select [(ngModel)]="traineeship.level" name="hour">
        <mat-option *ngFor="let level of levelConfig" [value]="level.value">
          {{ level.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <div class=" card-footer  justify-content-center">

      <button class="btn-round mt-4 btn btn-success">Valider </button>
   
    </div>
   
  </form>