
<div *ngIf="lessons" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">assignment</i>
          </div>
          <h4 class="card-title">Mes stages</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-center">{{ tableData1.headerRow[0] }}</th>
                  <th>{{ tableData1.headerRow[1] }}</th>
                  <th>{{ tableData1.headerRow[2] }}</th>
                  <th>{{ tableData1.headerRow[3] }}</th>
                  <th class="text-right">{{ tableData1.headerRow[4] }}</th>
                  <th class="text-right">{{ tableData1.headerRow[5] }}</th>
                  <th class="text-right">{{ tableData1.headerRow[6] }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lessons,let i = index">
                  <td class="text-center">{{(i + 1)}}</td>
                  <td>{{row.title}}</td>
                  <td> {{row.users.length}} / {{row.numberParticipant}}</td>
                  <td>{{row.start}}</td>
                  <td class="text-right"> {{row.end}}</td>
                  <td class="text-right">&euro; {{row.price}}</td>
                  <td class="td-actions text-right">

                    <button routerLink="/traineeship/{{row.id}}" mat-raised-button type="button" class="btn btn-success {{row[5]}}">
                      <i class="material-icons">edit</i>
                      <br>
                      configurer
                    </button>
                    <button mat-raised-button type="button" *ngIf="row.users.length < 1" (click)="deleteMessage(row)"
                      class="btn btn-danger {{row[5]}}">
                      <i class="material-icons">close</i>
                      <br>
                      suppression
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>