<div class="main-content">
  <div class="container-fluid">
   

    <div class="row">
      <div class="col-md-10 ml-auto mr-auto">
        <div class="card card-calendar">
          <div class="card-body ">

            <div id="fullCalendar"></div>
            <!-- <button (click)="makeConsole()"></button> -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>