<div class="col-md-12">
  <div class="card ">
    <div class="card-header card-header-success card-header-text">
      <div class="card-text">
        <h4 class="card-title col-md-12">Ajouter votre addresse ci-dessous</h4>
      </div>
    </div>
    <div class="card-body ">
      <form *ngIf="!traineeshipAddress" (ngSubmit)="register()" class="form-horizontal">
        <div class="row">
          <label class="col-sm-2 col-form-label">Rue</label>
          <div class="col-sm-10">
            <mat-form-field class="example-full-width">
              <input type="text" matInput [(ngModel)]="address.street" name="street" placeholder="....">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-2 col-form-label">Ville</label>
          <div class="col-sm-10">
            <mat-form-field class="example-full-width">
              <input type="text" matInput [(ngModel)]="address.city" name="city" placeholder="....">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-2 col-form-label">Pays</label>
          <div class="col-sm-10">
            <mat-form-field class="example-full-width">
              <input type="text" matInput [(ngModel)]="address.country" name="country" placeholder="....">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-2 col-form-label">Code postal</label>
          <div class="col-sm-10">
            <mat-form-field class="example-full-width">
              <input type="text" matInput [(ngModel)]="address.zipCode" name="zipCode" placeholder="....">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <label class="col-sm-2 col-form-label">City</label>
          <div class="col-lg-5 col-md-8 col-sm-4">
            <mat-form-field>
              <mat-select [(ngModel)]="address.department" name="department" placeholder="Single City"
                name="department">
                <mat-option *ngFor="let department of departments" [value]="department.value">
                  {{ department.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-2 col-form-label">Region</label>
          <div class="col-lg-5 col-md-8 col-sm-4">
            
            <mat-form-field>
              <mat-select [(ngModel)]="address.region" name="region" placeholder="Single City"
                name="region">
                <mat-option *ngFor="let region of regions" [value]="region.value">
                  {{ region.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class=" card-footer  justify-content-center">

          <button class="btn-round mt-4 btn btn-success">Valider </button>

        </div>
      </form>
      <!-- (ngSubmit)="patchAddress()"  -->
      <form *ngIf="traineeshipAddress" class="form-horizontal">
        <div class="row">
          <label class="col-sm-2 col-form-label">Rue</label>
          <div class="col-sm-10">
            <mat-form-field class="example-full-width">
              <input type="text" matInput [(ngModel)]="traineeshipAddress.street" name="street" placeholder="....">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-2 col-form-label">Ville</label>
          <div class="col-sm-10">
            <mat-form-field class="example-full-width">
              <input type="text" matInput [(ngModel)]="traineeshipAddress.city" name="city" placeholder="....">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-2 col-form-label">Pays</label>
          <div class="col-sm-10">
            <mat-form-field class="example-full-width">
              <input type="text" matInput [(ngModel)]="traineeshipAddress.country" name="country" placeholder="....">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-2 col-form-label">Code postal</label>
          <div class="col-sm-10">
            <mat-form-field class="example-full-width">
              <input type="text" matInput [(ngModel)]="traineeshipAddress.zipCode" name="zipCode" placeholder="....">
            </mat-form-field>
          </div>
        </div>
        
        <div class="row">
          <label class="col-sm-2 col-form-label">departement</label>
          <div class="col-lg-5 col-md-8 col-sm-4">
            <mat-form-field>
              <mat-select [(ngModel)]="address.department" name="department" placeholder="Single City"
                name="department">
                <mat-option *ngFor="let department of departments" [value]="department.value">
                  {{ department.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-2 col-form-label">Region</label>
          <div class="col-lg-5 col-md-8 col-sm-4">
            <mat-form-field>
              <mat-select [(ngModel)]="address.region" name="region" placeholder="Single City"
                name="region">
                <mat-option *ngFor="let region of regions" [value]="region.value">
                  {{ region.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class=" card-footer  justify-content-center">
          <button class="btn-round mt-4 btn btn-success">modifier </button>
        </div>
      </form>
    </div>
  </div>
</div>
