<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <!--      Wizard container        -->
                <div class="wizard-container">
                    <div class="card card-wizard" data-color="rose" id="wizardProfile">
                        <form (ngSubmit)="registerPro()" method="">
                            <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                            <div class="card-header text-center">
                                <h3 class="card-title">
                                    Inscription
                                </h3>
                                <h5 class="card-description">Rentrer les differentes informations demandées</h5>
                            </div>
                            <div class="wizard-navigation text-center">
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#about" data-toggle="tab" role="tab">
                                            Information
                                        </a>
                                    </li>
                              
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="about">
                                        <h5 class="info-text">
                                        </h5>
                                        <div class="row justify-content-center">
                                            <div class="col-sm-4">
                                                <div class="picture-container">
                                                    <div class="picture">
                                                        <img src="./assets/img/default-avatar.png" class="picture-src"
                                                            id="wizardPicturePreview" title="" />
                                                        <input type="file" id="wizard-picture">
                                                    </div>
                                                    <h6 class="description">Choisir une image</h6>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group form-control-lg">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="material-icons">face</i>
                                                        </span>
                                                    </div>
                                                    <input type="text" class="form-control" name="firstName"
                                                        placeholder="Prénom..." [(ngModel)]="user.firstName">
                                                </div>
                                                <div class="input-group form-control-lg">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="material-icons">record_voice_over</i>
                                                        </span>
                                                    </div>
                                                    <input type="text" class="form-control" name="lastName"
                                                        placeholder="Nom..." [(ngModel)]="user.lastName">
                                                </div>
                                                <div class="input-group form-control-lg">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="material-icons">email</i>
                                                        </span>
                                                    </div>
                                                    <input type="email" class="form-control" name="email"
                                                        placeholder="Email..." [(ngModel)]="user.email">
                                                </div>
                                                <div class="input-group form-control-lg">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="material-icons">lock_outline</i>
                                                        </span>
                                                    </div>
                                                    <input type="password" class="form-control" name="password"
                                                        placeholder="Mot de passe..." [(ngModel)]="user.password">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="mr-auto">
                                    <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled"
                                        name="previous" value="Previous">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-warning btn-round mt-4">Valider</button>
                              </div>
                        </form>
                    </div>
                </div>
                <!-- wizard container -->
            </div>
        </div>
    </div>
</div>
